body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 24px;
}

button {
  margin-top: 12px;
  border: none;
  width: 240px;
  height: 40px;
  background: #487ffe;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  font-size: 18px;
}

button:active {
  background: hsl(222, 99%, 60%);
}
